*{
	padding:0;
	margin:0;
}

.caja-principal{
	background-image: url(../asset/img/Landscape.jpg);	
	width:100vw;/*background size cover no fue suficiente para llenar todo el fondo, aprendí que estas medidas se ajustan perfecto al fondo*/
	height: 100vh;
	justify-content: center;
	background-size: cover;
	background-position: center;
	align-items:flex-end;
}

.flex-container{
	display:flex;
}
