*{
	margin: 0;
	padding: 0px;
}

#gatito-fondo{
	padding: 5%;
}

.landscape{
	background-image: url(../asset/img/landscape.jpg);
	background-size: cover;
	background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

